DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ppwl_social_media?schema=public"
JWT_SECRET="change-this-secret"
ADMIN_SECRET_KEY="your-secret-key"
WEB_ORIGIN="http://localhost:5173"
PORT=3000

GOOGLE_CLIENT_ID="client-id-google-kamu"